//mobile
@media only screen and (min-width: 361px) {
    .main-content-wrapper {
        position: relative;


        .main-content-block {
            position: relative;

            .image-wrapper {
                height: 634px;
                width: 100%;

                .image-holder {
                    background-image: url('../../img/test.jpg');
                    background-size: cover;
                    height: 100%;
                }

                .image-holder2 {
                    background-image: url('../../img/microphone-web.jpeg');
                    background-size: cover;
                    height: 100%;
                }

                .image-holder3 {
                    background-image: url('../../img/buildings.jpeg');
                    background-size: cover;
                    height: 100%;
                }
            }

            .image-wrapper:nth-of-type(2) {
                height: 630px !important;
                width: 100%;
            }

            .text-wrapper {
                position: absolute;
                top: 60%;
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;

                .main-text {
                    font-family: 'Lato';
                    font-weight: 800;
                    font-size: 37px;
                    line-height: 1;

                    span {
                        display: block;
                    }
                }

                .main-text.text-large {
                    font-size: 41px;
                }

                .sub-text {
                    font-family: 'Lato';
                    font-size: 15px;
                }

                button {
                    background-color: #0069D7;
                    border: none;
                    width: 150px;
                    height: 34px;
                    color: white;
                }
            }



            .text-mid {
                top: 253px;
                text-align: end;
            }

            .white {
                color: white;
            }
        }

        .text-container {
            margin-top: 100px;
            margin-bottom: 70px;
            padding-right: 15px;
            padding-left: 15px;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            font-family: 'Lato';
            font-weight: lighter;

            .content-headline {
                margin-bottom: 20px;
                display: block;
                font-size: 50px;
                font-weight: 300 !important;
            }

            .content-text {
                tab-size: 0;
                white-space: pre-line;
                display: block;
                width: fit-content;
                font-size: 20px;
               
        }
    }

        .info-list-wrapper {
            padding-left: 15px;
            padding-right: 15px;
            font-family: 'Lato';
            margin-bottom: 70px;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 80%;

            .info-list-container {
                color: #6A6A6A;
                margin-bottom: 20px;



                .list-headline {
                    margin-bottom: 0.5rem;
                    font-size: 50px;
                    font-weight: 500;

                }

                .info-list {
                    list-style-image: url('../../img/chevron-right.svg');

                    padding-left: 20px;
                    font-size: 17px;

                    li {
                        margin-bottom: 10px;
                        width: fit-content;
                    }
                }
            }
        }

       
    }
    .product-container{
        height: auto;
        background: rgb(147,147,147);
        background: linear-gradient(142deg, rgba(147,147,147,1) 0%, rgba(203,203,203,1) 35%, rgba(255,255,255,1) 100%);
   
        .product-header{
            display:grid;
            grid-template-areas: "picture"
                                 "headline"
                                 "sub-headline"
                                 "text"
                                 "specs";
            .product-headline{
                grid-area: headline;
            }

            .product-sub-header{
                grid-area: sub-headline;
            }

            .product-text{
                grid-area: text;
            }

            .product-specs{
                grid-area: specs;
            }
            .product-image-wrapper{
                grid-area: picture;
                .product-image{
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        width:100%;
                     
                }
            }
        }

        
    }
}
}

//tablet
@media only screen and (min-width: 568px) {

    .main-content-wrapper {
        .main-content-block {


            .image-wrapper {
                height: 930px;

                .image-holder {
                    background: url('../../img/fill6-web.jpg') no-repeat right right;
                }
            }

            .text-wrapper {
                .main-text {
                    font-size: 50px;
                }

                .main-text.text-large {
                    font-size: 70px;
                }

                .sub-text {
                    font-size: 25px;
                }
            }

            .text-mid {
                top: 320px;
            }
        }

        .text-container {
            max-width: 965px;
            
            .content-text{
                white-space: unset;
                font-size: 17px;
            }
        }

        .info-list-wrapper {
            width: 100%;
            max-width: 965px;
            display: grid;
            grid-template-columns: 25% 25% 25%;
            gap: 12.5%;

            .info-list-container {

                .info-headline {}

                .info-list {}
            }
        }

    
    }
}

//desktop
@media only screen and (min-width: 1366px) {

    .main-content-wrapper {
        .main-content-block {
            .product-wheel {
                height: 550px;
            }


        }

        .text-container {
            max-width: 1298px;
            width: 1298px;

        }

        .info-list-wrapper {
            max-width: 1298px;
            width: 1298px;
            display: grid;
            grid-template-columns: 25% 25% 25%;

        }
    }
}

//large picture mode
@media only screen and (min-width: 1921px) {
    .main-content-wrapper.container-fluid {
        

        .main-content-block {


            .image-wrapper {
               
            }
        }
    }
}