//mobile
@media only screen and (min-width: 100px) {
    .page-footer{
        min-height: 420px;
        background-color: $nav-color !important;
        color:white;

        ul{
            font-weight: 300;
            font-family:'Lato';
        }

        .footer-copyright{
            color:$copyright-color;
        }

        a{
            color:$link-color;
            font-size:22px;
        }
    }
}

//tablet
@media only screen and (min-width: 568px){
    

}

//desktop
@media only screen and (min-width: 1366px){

}

//large picture mode
@media only screen and (min-width: 1920px){
}